@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

/* Global Style */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #201d1b;
  background-color: #f9f9f9;
}

html,body{
  scroll-behavior: smooth;
}

/* !REMEMBER TO REMOVE */
/* body {
  width: 100%;
} */


hr {
  outline: none;
  border: none;
  background-color: #1e0505e2;
}

/* Header Style */
#header {
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar ul {
  text-align: center;
  height: 70px;
  width: 100%;
}

#navbar li {
  list-style: none;
  margin: 24px;
  display: inline-block;
}

#navbar li a {
  text-decoration: none;
  font-size: 24px;
  margin:0 15%;
  font-weight: 559;
}

#header-bottom {
  height: 3.5px;
  box-shadow: 0px 8px 20px 0;
}

/* Sections Style */
.seperator {
  height: 2px;
  margin: 40px 0;
  width: 256px;
}

.shadow-red {
  background-color: #ff0000;
  box-shadow: 8px 8px 20px 0px #ff0000;
}

.shadow-green {
  background-color: #00ff00;
  box-shadow: 8px 8px 20px 0px #00ff00;
}

.shadow-blue {
  background-color: #006eff;
  box-shadow: 8px 8px 20px 0px #006eff;
}

.under-header {
  height: 6px;
  margin-top: 8px;
  animation: header-under 1s ease-in-out 0s infinite alternate;
  border-radius: 56px;
}

#main {
  max-width: 100%;
  margin:7.9vw 17%;
}

#bio {
  line-height: 2.8vw !important;
}

#cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  align-content: center;
}

.project-card {
  margin-top:3vw;
  box-shadow: 4px 8px 20px 0 #ada9a9;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s linear;
  -webkit-transition: 0.2s linear;
}

.project-card:hover {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  box-shadow: 4px 8px 20px 0 #5b5858;
}

.project-card,
.project-card * {
  background-color: transparent;
}

.chars {
  margin-left: 50px;
  margin-top: 20px;
}

.chars:first-child {
  margin-top: 30px;
}

.view-code {
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 32px auto auto auto;
  background-color: #262a2a;
  color: #ffffff;
  border: none;
  outline: none;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.work-card {
  margin: 40px 0;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.work-card,
.work-card * {
  background-color: transparent;
}

.w-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Footer Style */
footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 8px 20px 0 #bbbbbb;
}

#socials {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

/* Animations */

@keyframes header-under {
  0% {
    width: 56px;
  }

  100% {
    width: 128px;
  }
}

/* Planned Stuff */
.heading-1 {
  font-size: 119px;
  line-height: 144px;
}

.heading-2 {
  font-size: 84px;
  line-height: 100px;
}

.heading-3 {
  font-size: 59px;
  line-height: 70px;
}

.heading-4 {
  font-size: 42px;
  line-height: 50px;
}

.heading-5 {
  font-size: 30px;
  line-height: 35px;
}

.paragraph {
  font-size: 21px;
  line-height: 25px;
  font-family: "Fira Sans", serif;
}

.bg-red {
  background-color: #ff0000;
}

.bg-green {
  background-color: #00ff00;
}



/* ------------------frome here responsive code will starts----------------- */

@media screen and (max-width:600px){


  #navbar ul {
    text-align: center;
    height: 62px;
    width: 94%;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 3.1vw;
    margin:0 8%;
    font-weight: 559;
  }
  
  
  /* Sections Style */
  .seperator {
    height: 1px;
    margin: 38px 0;
    width: 125px;
  }
  
  
  .under-header {
    height: 5px;
    margin-top: 3vw;
    animation: header-under 1s ease-in-out 0s infinite alternate;
    border-radius: 56px;
  }
  
  #main {
    max-width: 100%;
    height: 100%;
    margin:19.9vw 8%;
  }
  
  #bio {
    line-height: 6.8vw !important;
  }
  
  
  
  .project-card {
    margin-top:4rem;
    box-shadow: 4px 8px 20px 0 #ada9a9;
    border-radius: 30px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s linear;
    -webkit-transition: 0.2s linear;
  }
  
  

  .chars {
    margin-left: 37px;
    margin-top: 27px;
    font-size: 15px;
  }
  

  .view-code {
    text-align: center;
    text-decoration: none;
    width: 126px;
    margin: 32px auto auto auto;
    background-color: #262a2a;
    color: #ffffff;
    border: none;
    outline: none;
    height: 34px;
    padding: 8px;
    border-radius: 24px;
  }
  

  /* Footer Style */
  footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 20px 0 #bbbbbb;
  }
  

  
  .heading-2 {
    font-size: 52px;
    line-height: 17vw;
  }
  
  .heading-3 {
    font-size: 59px;
    line-height: 70px;
  }
  
  .heading-4 {
    font-size: 2.3rem;
    line-height: 4rem;
  }
  
  .heading-5 {
    font-size: 4vw;
    line-height: 40px;
  }
  
  .paragraph {
    font-size: 1.1rem;
    line-height: 15px;
    font-family: "Fira Sans", serif;
  }

}